.home-bg {
  //   background-color: #f8d176;

  //   background-color: #fef7ed;
  // height: 120vh;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // @include c-jc-s-ai;
  // flex-direction: column;
  // overflow-x: hidden;
  // max-width: inherit;
  // margin-top: 2rem;
}
.home-title {
  text-align: left;
  font-family: "DM Serif Display", sans-serif;
  font-size: 4.5rem;
}
.greeting-container {
  align-self: center;
  @include c-jc-s-ai;
  // justify-content: flex-start;
  height: 100%;
  flex-direction: column;
  margin-left: 2rem;
  h3 {
    font-weight: 200;
    font-size: 2.5rem;
  }
  .cta-container {
    justify-self: flex-end;
    padding-top: 5rem;
  }
  a {
    border: none;
    background-color: #f8d176;
    padding: 1rem;
    font-size: 1.2rem;
    border: 2px solid #f8d176;
    cursor: pointer;
    transition: border 0.6s;
  }
  .start-btn {
  }
  .start-btn:hover {
    border: solid 2px rgba(0, 0, 0, 0.8);
  }
  .explore-btn {
    background-color: transparent;
    margin-left: 2rem;
  }
  .explore-btn:hover {
    border: solid 2px rgba(0, 0, 0, 0.8);
  }
}
.image-slider-container {
  grid-column: 2/3;
  overflow-x: hidden;
  max-width: 90%;
  margin: auto;
}

.featured-dishes {
  @include c-jc-c-ai;
  column-gap: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  height: 90vh;
}
.carousel {
  @include c-jc-c-ai;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  .slide {
    @include c-jc-c-ai;
  }
}
.dish-container {
  @include c-jc-c-ai;
  flex-direction: column;
  max-width: 500px; //Changes the Carousel image height
}
.dish-image-container {
  position: relative;
  max-width: inherit;
}
.dish-image {
  width: inherit;
  height: inherit;
  max-height: inherit;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dish-name {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dish-cook-cta {
  width: 100%;
  height: 100%;
  // background-color: rgba(248, 209, 118, 0.5);
  background-color: rgba(248, 209, 118, 1);
  margin-top: 1rem;
  color: black;
  padding: 1rem;
  font-weight: 200;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: transform 0.4s;
}
.dish-cook-cta:hover {
}
.dish-cook-btn {
  font-size: 1.5rem;
}
