.Login-page {
    width: 100vw;
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;
    background: url('../assets/login-background.jpg'); 
    background-size: cover;
    background-position: center;
}

.Login-button {
    background-color: #f8d176 !important;
    border-color: #f8d176 !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 5vh;
    font-size: 20px;
}

.Login-header2 {
    font-size: 40px;
}

.Login-form {
    font-size: 25px;
    text-align: left;
}

.Login-input {
    margin-right: 3px;
    
}

.Login-field {
    font-size: 18px;
    border: solid 1px black;
    border-radius: 2px;
    padding: 10px;
    height: 20px;
    margin-top: 5px;
    width: 100%;
    margin-left: -11px;
}

.Login-signup {
    font-style: italic;
}

.Login-card {
    margin-top: -50vh;
    opacity: 0.9;
    width: 50vw;
    height: auto;
    padding: 20px;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}


.Login-link {
    color: #f8d176;
}

.Login-link:hover {
    color: #f8d176;
}