.CreatePost-page {
    width: 100%;
    height: 100vh;
    display: flex;
    /* place-items: 90vh; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../assets/createpost-background.jpg'); 
    background-size: cover;
    background-position: center;
}

.CreatePost-container {
    width: 60vw;
    height: auto;
    padding: 20px;
    background-color: #f8d176;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

}

.CreatePost-nav {
    position: fixed ;
    width: 100%;
}


.CreatePost-title {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.CreatePost-post {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
}


.CreatePost-input {
    font-size: 18px;
    border: none;
    border-radius: 2px;
    padding: 5px;
    height: 40px;
    margin-top: 5px;
    width: 100%;
}

.CreatePost-textarea {
    font-size: 18px;
    border: none;
    border-radius: 2px;
    padding: 5px;
    height: 150px;
    margin-top: 5px;
    width: 100%;
}

.CreatePost-header {
    text-align: center;
}

.CreatePost-button {
    margin-top: 20px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.CreatePost-container label{
    font-size: 25px;
}
