.index-back {
    position: fixed;
    top:1rem;
    right:1rem;
}

.index-webcam {
    border: solid 5px black;
}

.index-bg {
    background: #f8d176 !important;
    width: 100vw;
    height: 100vh;
}