.ingredient-container {
  // @include c-jc-c-ai;
  position: relative;
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 93vh;
}
.ingredient-list {
}
// Ingredient Banner
.ingredients-header {
  max-width: 95vw;
  margin: auto;
  margin: 3rem 3rem;
  // background-color:blue;
  //   background-size: contain;
  height: 200px;
  @include c-jc-c-ai;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  h1 {
    font-size: 2rem;
  }
}
.add-ingredient {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 50px;
  height: 50px;
  background: #28a745;
  @include c-jc-c-ai;
  color: white;
  font-size: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.exit-ingredient {
  @extend .add-ingredient;
  right: 520px;
  background: #dc3545;
}
.inventory-container {
  margin-top: 5rem;
  @include c-jc-c-ai;
  flex-wrap: wrap;
  grid-gap: 2rem;
  .ingredient {
    position: relative;
    @include c-jc-c-ai;
    width: 250px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 2rem;
    border-radius: 1rem;
  }
  .trash {
    position: absolute;
    bottom: 0;
    background: #dc3545;
    color: white;
    padding: 0.5rem;
    left: 0;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    cursor: pointer;
    @include c-jc-c-ai;
  }
}
.empty-inventory-container {
  text-align: center;
  h2 {
    font-size: 2rem;
  }
  p {
    padding: 1rem 0;
    font-size: 1.5rem;
  }
}

//Adding Ingredients Right Section
.ingredient-input-container {
  grid-column: 2/3;
  grid-row: 1/2;
  position: relative;
  width: 100%;
  // height: 100vh;
  height: 100%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #f4f1f0;
  @include s-jc-c-ai;
  flex-direction: column;
  h2 {
    padding-top: 2rem;
  }
}
.save-list {
  border: none;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  background-color: #28a745;
  color: white;
  position: absolute;
  bottom: 2rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ingredient-search-input {
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  width: 300px;
  font-size: 1.4rem;
  margin: 2rem;
  text-align: center;
  padding: 0.5rem 0;
}
.ingredient-search-input:focus {
  outline: none;
}
.suggested-ingredient {
  align-self: flex-start;
  // margin-left: 2rem;
  max-height: 300px;
  overflow-y: scroll;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .suggested-item {
    padding: 0.5rem 0;
    @include s-jc-c-ai;
    p {
      padding-left: 1rem;
    }
    button {
      @include c-jc-c-ai;
      border: none;
      color: #28a745;
      background: none;
      font-size: 2rem;
      border: 2px solid #28a745;
      width: 30px;
      height: 30px;
      margin-left: 2rem;
    }
  }
}
.added-stock-container {
  margin-top: 1rem;
  @include c-jc-c-ai;
  width: 100%;
  flex-direction: column;
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .stock-list {
    width: 100%;
    height: 200px;
    max-height: 400px;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .temp-stock {
    padding: 0.5rem 1rem;
    @include s-jc-c-ai;
    button {
      border: none;
      font-size: 1.2rem;
      width: 30px;
      height: 30px;
      @include c-jc-c-ai;
      color: white;
      background: #dc3545;
    }
    p{
      margin-left: 1rem;
    }
  }
}
