.Review-background {
    background-color: rgb(214, 214, 214);
}

.Review-page {
    width: 100%;
    min-height: calc(100vh - 80px);
    height: 93.25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background: url('../assets/review-background.jpg'); 
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
}

.Review-post {
    width: 75%;
    height: auto;
    max-height: 600px;
    background-color: #f3f3f3;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    /* border: 2px solid #eec973;  */
    margin: 5px;
    padding: 10px;
     border-radius: 5px; 
    text-align: left;
    opacity: 0.95;
}

.Review-nav {
    position: fixed;
    width: 100%;
}

.Review-postheader {
    display: flex;
    justify-content: center;
     width: 100%; 
}

.Review-button {
    background-color: #f3f3f3;
    border-color: #f3f3f3;
    font-size: 25px;
}

.Review-createpost {
    position: fixed;
    bottom: 1rem; 
    right: 1rem; 
    width:10vw;
    height:4vh;
    background-color: #f8d176;
    font-size: 120%;
    font-weight: 900;
}

.Review-title {
    flex: 50%;
}

.Review-postTextContainer {
    word-wrap: break-word;
    height: auto;
    max-height: 400px;
    width: 100%; 
    overflow: hidden;
    overflow-y: auto;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
}

.Review-header1 {
     width: 100%; 
}

.Review-header3 {
    width: 100%; 
    font-size: 10px;
    margin-top: -5px;
    font-style: italic;

}