.CreatePost-page {
    width: 100%;
    height: calc(100vh-80px);
    display: grid;
    place-items: center;

}

.CreatePost-container {
    width: 500px;
    height:auto;
    padding: 20px;
    background-color: black;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
}

.CreatePost-container h1 {
    text-align: center;
}

.CreatePost-container label{
    font-size: 25px;
}

.CreatePost-container .inputGp {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.CreatePost-container button {
    margin-top: 20px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.inputGp input, 
.inputGp textarea {
    font-size: 18px;
    border: none;
    border-radius: 2px;
    padding: 5px;
}

.inputGp input {
    height: 40px;
}

.inputGp textarea {
    height: 150px;
}

input,
textarea {
    margin-top: 5px;
}
