.Login-button {
    background-color: #f8d176 !important;
    border-color: #f8d176 !important;
    margin-top: 1rem;
}

.Login-card {
    margin-top: 3rem;
}

.Login-link {
    color: #f8d176;
}

.Login-link:hover {
    color: #f8d176;
}