.Review-page {
    width: 100%;
    min-height: calc(100vh - 80px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.Review-post {
    width: 600px;
    height: auto;
    max-height: 600px;
    background-color: rgb(250,250,250);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}

.Review-postheader {
    display: flex;
    justify-content: center;
     width: 100%; 
}

.Review-title {
    flex: 50%;
}

.Review-postTextContainer {
    word-wrap: break-word;
    height: auto;
    max-height: 400px;
    width: 100%; 
    overflow: hidden;
    overflow-y: auto;
    font-size: 20px;
}

.Review-header1 {
     width: 100%; 
}

.Review-header3 {
    width: 100%; 
    font-size: 8px;
}